# Laravel & PHP
/vendor/
/storage/
/bootstrap/cache/
*.log
*.bak
*.tmp
*.swp
*.swo
.phpactor.json
.phpunit.result.cache
/.phpunit.cache

# Node & Frontend
/node_modules/
/public/build/
/public/hot/
/public/js/
/public/css/
/public/assets/
/public/dist/
/public/mix-manifest.json

# Imagens e uploads
/public/storage/
/storage/app/public/

# IDEs & Editor
/.idea/
/.vscode/
/.history/
/.fleet
/.nova
/.zed

# Configuração & Ambiente
.env
.env.*
.env.backup
.env.production
/auth.json
Homestead.json
Homestead.yaml

# Banco de dados
*.sqlite
*.db
/database/*.sqlite
/database/*.db

# Outros
.DS_Store
Thumbs.db

# Testes & Coverage
/coverage/
/test-results/
